body {
    margin: 0;
    padding: 0;
    background: rgb(238, 227, 73);
    color: #ffffff;
    font-family: monospace;
  }
  
  #head {
    margin: 10px;
    display: block;
  }
  
  h2 {
    color: rgb(243, 240, 86);
    text-align: center;
  }
  
  form {
    margin: auto;
    /*margin-top: 30px;
    max-width: 400px;
    width: 100%;
    */
    padding: 40px;
    background: #ffffff;
  }
  
  input {
    display: block;
    margin: auto;
    padding: 10px;
  }
  
  input[type=submit] {
    width: 193px;
    background: rgb(243, 240, 88);
    border: none;
    color: rgb(243, 228, 97);
  }
  